@tailwind base;
@tailwind components;
@tailwind utilities;


#my_modal_5{
    padding: 2rem;
    border-radius: 20px;
}

.loading{
    color: red;
}
.modal-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-warning{
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    border-radius: 20px;
    background-color: #ffbe00;
    animation: appear 2s ease-in-out forwards;
}

@keyframes appear {
    from {
        opacity: 1; /* Start from half size */
    }
    to {
        opacity: 0; /* End at full size */
    }
}